/*

*/

.version.index /* version checker */
{
	color: #0000F2;
	background-color: #23F811;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 538px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
}

#pu590-4
{
	margin-right: -10000px;
	margin-top: 112px;
	width: 86.85%;
	margin-left: 6.58%;
}

#u590-4
{
	z-index: 3;
	min-height: 88px;
	background-color: transparent;
	line-height: 82px;
	font-size: 68px;
	text-align: center;
	color: #39535D;
	font-family: '__Bebas Neue_5';
	font-weight: 400;
	position: relative;
	width: 100%;
	margin-left: 0%;
	left: 2.842170943040401e-14px;
}

#u591-10
{
	z-index: 7;
	min-height: 143px;
	background-color: transparent;
	line-height: 29px;
	font-size: 20px;
	text-align: center;
	color: #3F5A67;
	font-family: '__Roboto_5';
	font-weight: 400;
	margin-top: 11px;
	position: relative;
	width: 93.64%;
	margin-left: 3.19%;
	left: 1.0000000000000284px;
}

#u592-13
{
	z-index: 17;
	width: 249px;
	min-height: 44px;
	background-color: transparent;
	font-size: 26px;
	color: #FFFFFF;
	letter-spacing: 13px;
	line-height: 31px;
	text-align: center;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	margin-top: 40px;
	position: relative;
	margin-left: 50%;
	left: -124.99999999999997px;
}

#u592,#u592-3,#u592-5,#u592-7,#u592-9
{
	color: #3F5A67;
}

#u613
{
	z-index: 2;
	width: 29px;
	min-height: 538px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 92.37%;
}

.html
{
	background: #FFFFFF url("../../images/in%20the%20clouds.jpg") no-repeat center top scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../../fonts/roboto-regular-webfont.eot');
	src: local('☺'), url('../../fonts/roboto-regular-webfont.woff') format('woff'), url('../../fonts/roboto-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Bebas Neue_5';
	src: url('../../fonts/bebas___-webfont.eot');
	src: local('☺'), url('../../fonts/bebas___-webfont.woff') format('woff'), url('../../fonts/bebas___-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

